@import "tailwindcss";

:root {
  --color-fondo: #faf8f4;
  --color-texto: #2b2621;
  --color-primario: #3d6b52;
  --color-primario-oscuro: #2c4e3c;
  --color-acento: #e8a33d;
  --color-borde: #ddd6c9;
  --font-display: "Fraunces", serif;
  --font-body: "Inter", sans-serif;
}

body {
  background-color: var(--color-fondo);
  color: var(--color-texto);
  font-family: var(--font-body);
}

